/* ESTILLO DE LA VENTANA DEl login*/
#fondo{
    -fx-background-image: url(../imagenes/fondo1.jpg);
    -fx-background-size: 100% 100%;
}
#fondo2{
    -fx-background-color: rgba(0,0,0,0.8);
}
#btnLogin{
     -fx-background-color: 
        linear-gradient(#f2f2f2, #d6d6d6),
        linear-gradient(#fcfcfc 0%, #d9d9d9 20%, #d6d6d6 100%),
        linear-gradient(#dddddd 0%, #f6f6f6 50%);
    -fx-background-radius: 10;
    -fx-padding: 3 15 3 15;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}
/* ESTILLO DE LA VENTANA DE AGREGAR USUARIO*/

#pie{
    -fx-background-color: white;
}
#admCabecera {
    -fx-background-color: #000000;
}
#admSalir {
    -fx-background-color: #FFF;
}
#circulo{
    -fx-background-color: #FFF;
}
#admFondo {
    -fx-background-color: #FFF;
}
#iduser{
    -fx-background-color: #FFF;
}
#hlCliente{
    -fx-background-color: #FFF;
}
#hlEscala{
    -fx-background-color: #FFF;
}
#hlAerolinea{
    -fx-background-color: #FFF;
}
#idorigen{
    -fx-background-color: #FFF;
    -fx-border: 1px solid black;
}
